.Main-Container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  position: relative;
  /* clip-path: polygon(0 0, 100% 0, 100% 95%, 0% 100%); */
  background-image: url('https://picsum.photos/id/115/900/600/?blur=1');
  /* background-image: url('../../Images/background1.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Text-Container {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(75, 75, 75, 0.95);
  padding: 0 2rem;
  border: 2px solid #fff;
  border-radius: 5px;
}

.show-text {
  visibility: visible;
}

.Text-Container p {
  color: #fff;
  font-size: 2.5rem;
  margin: 2rem 0;
}

.Main-Container__pointer {
  visibility: hidden;
  position: absolute;
  bottom: 2%;
  color: #fff;
  font-size: 1.2rem;
  line-height: 0;
}

.Main-Container__pointer .arrow {
  font-size: 2rem;
}
.show {
  visibility: visible;
}
