@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: #333;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

h3 {
  color: #ddd;
}

.toast-style {
  border: 1px solid #fff;
  background: #757575;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 95%;
  }
}
@media only screen and (min-width: 1082px) {
  .container {
    width: 90%;
  }
}
